body {
  background-color: rgb(236, 223, 185);
}
.container {
  display: flex;
  justify-content: center;
}
.par {
  font-size: 30px;
}
h1 {
  font-size: 50px;
  text-align: center;
  text-shadow: 2px 3px 5px ;
}
.btn {
  background-color: rgb(62, 173, 173);
  border-radius: 20px;
  padding: 10px;
  font-size: 15px;
}
h2 {
  font-size: 40px;
}
.btnTwo {
  border: none;
  color: rgb(43, 121, 121);
  background-color: rgb(236, 223, 185);
  font-size: 15px;
}
.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.cont {
  display: flex;
  flex-direction: column;
}
h2 {
  text-align: center;
}
h3 {
  text-align: center;
}
.cities {
  text-shadow: 2px 3px 5px ;
}